input::placeholder {
    color: #A5A6B9; /* 플레이스홀더 텍스트 색상 */
    opacity: 1;
}

.MatchTitle::placeholder {
    color: #858585; /* 기본 색상 설정 */
    opacity: 1; /* 불투명도 설정 */
}

.MatchContent::placeholder {
    color: #909090; /* 기본 색상 설정 */
    opacity: 1; /* 불투명도 설정 */
}