.noticeboard-title{
    margin-top:41px;
    width:100%;
    height:96px;
    background-color: #578E7E;
    display:flex;

    align-items: center; /* 수직 중앙 정렬 */
    
    
}

.noticeboard-title-logo{
    margin-left: 6.92%;
    margin-right: 4.36%;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    background-color: #EDEDED;
    border-radius: 50%;
    display:flex;

    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */

    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #000;
    font-family: "Leelawadee UI";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    
    

}

.noticeboard-title-text1{
    color: #FFF;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 17px;
}

.noticeboard-title-text2{
    color: #FFF;
    
    font-family: "Noto Sans KR";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.noticeboard-title-text{
    text-align: left;
}

.noticeboard-profile-name{
    color: #000;
font-family: "Noto Sans KR";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 12px;
margin-left: 2.31%;
}

.noticeboard-profile-detail{
    color: #6E6E6E;
font-family: "Noto Sans KR";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 9px;
margin-left: 2.31%;

}

.noticeboard-profile{
    margin-top: 32px;
    margin-left: 6.15%;


}

.noticeboard-profile-photo{
    width:60px;
    height: 60px;
}

.noticeboard-tag{
    margin-top: 33px;
    margin-left: 6.41%;
}

.noticeboard-tag1{
    display:flex;
    margin-bottom: 16px;
    align-items: center;
        text-decoration: none;   /* 밑줄 제거 */
    color: inherit;
}

.noticeboard-tag1-icon{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #ACD5C4;
    margin-right: 5.64%;

    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */

}

.noticeboard-tag2{
    display:flex;
    align-items: center;
        text-decoration: none;   /* 밑줄 제거 */
    color: inherit;
}

.noticeboard-tag2-icon{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #ACD5C4;
    margin-right: 5.64%;

    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */

}

.REHUB{
    background: linear-gradient(180deg, #1C6550 0%, #78BDA9 55.6%, #ECF9F5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */

}