.previous-button {
    position: absolute; /* 절대 위치 */
    top: 38px; /* Y 위치 */
    left: 62px; /* X 위치 */
    background: transparent; /* 배경 투명 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 모양 변경 */
}

.previous-button img {
    width: 30px; /* 이미지 크기 조정 (필요에 따라 수정) */
    height: auto; /* 비율 유지 */
}
