.previous-button {
  position: absolute;   /* 뷰포트 기준 절대 위치 */
  top: 40px;         /* 뷰포트 상단에서 20px 아래 */
  right: 300px;       /* 뷰포트 우측에서 20px 왼쪽 */
  z-index: 9999;     /* 다른 요소보다 위에 표시 */
  cursor: pointer;
  background: none;
}

.previous-button img {
    width: 16px; /* 이미지 크기 조정 (필요에 따라 수정) */
    height: auto; /* 비율 유지 */
}
