.writeTop {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 92px;
    display: flex;          /* 플렉스 컨테이너 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center;    /* 수직 중앙 정렬 */
}

.writeLine {
    width: 100%;
    height: 1px;
    background-color: #CECECE;
    margin-top: 20px;
    margin-bottom: 20px;
}

.writeButton {
    display: flex;
    margin-right: 15px;      /* 오른쪽 끝으로 이동 */
    margin-top: 34px;
    justify-content: end;
}

.writeButton > * {
    margin-right: 11px;

}

.writeInput{
    margin-top:30px;
    margin-left:7.69%;
    margin-right:7.69%;
    height:40%;
}

.MatchTitle {
    color: black; /* 기본 색상 설정 */
    opacity: 1; /* 불투명도 설정 */
    border: none; /* 테두리 없애기 */
    outline: none; /* 포커스 시 나타나는 아우트라인 없애기 */
    resize: none; /* 크기 조절 비활성화 (선택 사항) */
    width:90%;
    font-weight:700;
    font-size:20px;
    margin-bottom: 42px;
}

.MatchContent {
    
    width: 95%;
    height: 100%; /* 부모 요소의 높이에 따라 달라짐 */
    font-family: 'Noto Sans KR';
    color: #909090;
    border: none; /* 테두리 없애기 */
    outline: none; /* 포커스 시 나타나는 아우트라인 없애기 */
    resize: none; /* 크기 조절 비활성화 (선택 사항) */
    line-height: 30px;
    
}


.MatchContent::placeholder{
    color: #909090;

    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.WriteComponent{
    height:100%;
    position: relative;

}

.board-search {
    color: #A5A6B9;
    font-family: "Noto Sans KR";
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #EDEDED;
    border: none; /* 테두리 없앰 */
    outline: none; /* 포커스 시 아웃라인 없앰 (선택 사항) */
}


.Comu-SelectBox{
    color: #000;
    
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: #FFFFFF;
}

.Comu-SelectBox .react-select__control {
    border: none; /* 기본 테두리 제거 */
    box-shadow: none; /* 그림자 제거 */
}

.Comu-SelectBox .react-select__control:hover {
    border: none; /* 호버 시 테두리 제거 유지 */
}